
  <div class="rowcontent" >
    <% @tweets.each do |tweet| %>
      <div class="content_post" style="background-image: url(<%= tweet.image %>);">
        <%= simple_format(tweet.text) %>
        <span class="name"><%= tweet.name %></span>
      </div>
    <% end %>

</div>

  <div class="index-head">
    <div class="content">
      <h1>My Sake History</h1>
    </div>
  </div>

<div class="index-main"
<% current_user.tweets.each do |tweet| %>
  <p><%= tweet.text %></p>
  <p><%= tweet.place %></p>
  <%= image_tag(tweet.image) %>
<% end %>
  </div>