
<div class="wrapper">
  <div class="vcard">
    <img src="image/icon.jpeg">
    <div class="name"><%= @user.name %></div>
    <div class="nickname"><%= @user.nickname %></div>
    <div class="sake"><li>好きな日本酒</li><%= @user.sake %></div>
    <div class="introduction"><%= @user.introduction %></div>
  </div>

  <div class="proftweet">
    <ul>
      <li>
        <%= @tweet %>
      </li>

      <li>
        <%= @tweet %>
      </li>

      <li>
        <%= @tweet %>
      </li>

      <li>
        <%= @tweet %>
      </li>
    </ul>
  </div>
</div>