<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
  <title>reSAKE</title>
  <link rel="stylesheet"  href="./style.css">
  <link rel="stylesheet" href="./setting.css">
  <link rel="apple-touch-icon" href="image/icon.jpeg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-head">
    <div class="content">
      <h1>reSAKE</h1>
    </div>
  </div>

      <ul class="dropdown">
        <li>

        <% if user_signed_in? %>

        <a href="#">メニュー</a>
          <ul class="nest">
            <li>
                <ul class="user__info">
                  <li>
                    <a href="/users/<%= current_user.id %>">MyPage</a>
                  </li>
                </ul>
            </li>
            <li>
              <a href="/tweets/new">記録</a>
            </li>
            <li>
              <%= link_to "検索", rakuten_search_path %>
            </li>
          </ul>

        <li>
         <a href="/timeline">タイムライン</a>
        </li>

        <li>
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>

        <li>
         <a href="/tweets">戻る</a>
        </li>

        <% else %>

        <a href="#">メニュー</a>
          <ul class="nest">
            <li>
              <a href="/tweets/new">マイページ</a>
            </li>
            <li>
              <a href="/tweets/new">投稿</a>
            </li>
            <li>
              <a href="/tweets/new">検索</a>
            </li>
            <li>
              <a href="/tweets/new">タイムライン</a>
            </li>
          </ul>

        <li>
         <a href="/users/sign_up">新規登録</a>
        </li>

        <li>
         <%= link_to "ログイン", new_user_session_path, class: 'post' %>
        </li>

        <li>
         <a href="/tweets">戻る</a>
        </li>
      <% end %>
      </li>

<%= yield %>


  <div class="footer">
    <div class="content">
      <h4>Copyright reSAKE 2016.</h4>
    </div>
  </div>

</body>
</html>